.rarity_overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: none;
  overflow-y: scroll;

  background-color: rgba(0, 0, 0, .5);
}

.rarity_overlay--visible {
  display: block;
}

.rarity_overlay--wrap {
  position: absolute;
  top: 40px;
  left: 50%;

  box-sizing: border-box;
  width: 1000px;
  margin-left: -500px;
  padding: 40px;

  background-color: #fff;
}


.rarity_filter {
  margin-bottom: 12px;
  padding: 12px 10px;

  background-color: #eee;
}

.rarity_filter--select {
  font-size: 16px;

  max-width: 200px;
  margin-right: 20px;
}

.rarity_filter--text_input {
  font-size: 16px;
  line-height: 24px;

  width: 100px;
  height: 24px;
  margin-right: 20px;
}

.rarity_filter--label {
  font-size: 16px;
  line-height: 24px;

  margin-right: 20px;
  margin-left: 5px;
}

.rarity_filter--button {
  margin-left: 30px;
}


.rarity_catalogue {
  font-size: 16px;

  display: table;
}

.rarity_catalogue--row {
  display: table-row;
}

.rarity_catalogue--cell {
  display: table-cell;

  padding: 12px 15px 0;
}

.rarity_catalogue--cell-price {
  text-align: right;
}
